/* VARIOUS */
@font-face {
    font-family: MyriadPro;
    src: url("/static/kiosk/font/MyriadPro-Regular.otf");
}
@font-face {
    font-family: MyriadProBold;
    src: url("/static/kiosk/font/MyriadPro-Bold.otf");
}
.space
{clear: both; visibility: hidden;}
button {
    font-size: 20px;
    padding: 0.25em 0.5em;
}

/*
 * Status box
 */

#status {
    display: block;
    position: absolute;
    padding: 1em;
    background: white;
    border: 2px solid black;
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    border-radius: 20px;

    top: 50px;
    left: 25%;
    width: 50%;
    height: 260px;
}

#status button {
    background-color: #FCAF3C;
}

#status-info {
    height: 80px;
    padding: 10px;
}

#status-close {
    float: right;
}

#status footer {
    font-weight: normal;
    font-family: verdana;
    vertical-align: top;
    padding: 0;
    border-top: 1px solid gray;
    margin-top: 10px;
    color: gray;
}

/*
 * Language selector
 */

.language-selector {
    text-align: center;
    visibility: hidden;
}

.flag {
    width: 46px;
    height: 34px;
    background: url("/static/img/flags_iso/48/en.png") no-repeat center center;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 4px;
    border: 5px solid transparent;
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}

.flag:hover {
    border-color: #333;
}

.flag.active {
    border-color: #FCAF3C;
}

.flag-en { background-image: url("/static/img/flags_iso/48/en.png") }
.flag-it { background-image: url("/static/img/flags_iso/48/it.png") }
.flag-es { background-image: url("/static/img/flags_iso/48/es.png") }
.flag-de { background-image: url("/static/img/flags_iso/48/de.png") }
.flag-fr { background-image: url("/static/img/flags_iso/48/fr.png") }
.flag-pt { background-image: url("/static/img/flags_iso/48/pt.png") }

/* ELEMENTS */

/* Triangle */
#triangle {
    position: relative;
    left: 270px;
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    /*border-top: 90px solid #C70000;*/
    border-top: 90px solid #ccc;
}

/* Color preview rectangle */
.color_preview {
    display: inline-block;
    height: 2.4em;
    width: 4.0em;
    vertical-align: middle;
    margin-right: 4px;
}

html {
    overflow: hidden;
}

/* WINDOW */
body {
    /* background-color: #FCAF3C; */
    color: #2B2B2A;
    font-family: MyriadPro;
    user-select: none; -ms-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -webkit-touch-callout: none;
}


/* HEADER */
header {
    width: 1024px;
    margin: 0 auto;
    height: 150px;
    font-size: 45px;
    font-family: MyriadPro;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
header > div {
    padding: 35px 65px;
}
header a {
    color: white;
    text-decoration: none;
}
#header-prev {
    margin-right: 50px;
    visibility: hidden;
}
.header-status {
    display: inline-block;
    line-height: 78px;
    padding: 0 0.25em;
    color: #B07A2A;
}
.header-status > span {
    display: inline-block;
    margin-left: 0.25em;
    width: 78px;
    height: 78px;
    background-image: url("/static/kiosk/img/sprites.png");
    background-repeat: no-repeat;
    background-size: 200%;
}
.header-status.active {
    color: white;
}
#header-step-1 > span {
    background-position: -78px 0;
}
#header-step-1.active > span {
    background-position: 0 0;
}
#header-step-2 > span {
    background-position: -78px -78px;
}
#header-step-2.active > span {
    background-position: 0 -78px;
}
#header-step-2.blink > span {
    animation: header-step-2-blinker 1.5s steps(2) infinite;
}
@keyframes header-step-2-blinker {
    from {
        background-position: 0 -78px;
    }
    to {
        background-position: -156px -78px;
    }
}
#header-step-3 > span {
    background-position: -78px -156px;
}
#header-step-3.active > span {
    background-position: 0 -156px;
}
#header-next {
    margin-left: 50px;
    visibility: hidden;
}
#header-status {
    float: right;
    margin-top: 10px;
    border-radius: 50%;
    background-color: #42AB3D;
    width: 60px;
    height: 60px;
}
#header-status.alert {
    background-color: yellow;
}
#header-status.warning {
    background-color: red;
}


/* MAIN */
main {
    width: 100%;
    height: 468px;
    background-color: #8D8D8C;
}
#content {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

/* PAGE MESSAGES */
#messages {
    position: fixed;
    display: block;
    top: 0;
}

.footer-alarm,
.footer-error,
.footer-step {
    display: none;
}

#footer-error.alarm,
#footer-step.alarm {
    display: none !important;
}

#footer-alarm {
    display: none;
}

#footer-alarm.alarm {
    display: block !important;
}


.page-message {
    position: relative;
    top: 470px;
    width: 800px;
    display: none;
    color: #00365C;
    font-size: 55px;
    font-family: MyriadPro;
    padding: 0.2em 2em 0.2em 2em;
    text-align: center;
}

.page-message.error {
    color: #99080c;
    font-size: 36px;
    font-family: MyriadProBold;
    border: 3px solid #99080c;
    margin: 0 1em 0 1em;
}

/* FOOTER */

footer {
    width: 100%;
    padding-top: 35px;
    font-family: MyriadProBold;
}

footer > div {
    display: table;
    margin-top: 35px;
    width: 954px;
    margin: 0 auto;
}

footer > div > *,
footer > div > div > * {
    display: table-cell;
    vertical-align: top;
}

footer > div > div {
    width: 100%;
}

footer > div > div p {
    height: 70px;
}

#footer-logo {
    padding-left: 30px;
    padding-right: 85px;
}

#footer-step {
    max-height: 80px;
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.15em;
    vertical-align: middle;
    width: 82%;
}

#footer-error,
#footer-alarm {
    max-height: 80px;
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.15em;
    vertical-align: middle;
    width: 82%;
}

#footer-page-left-arrow,
#footer-page-right-arrow {
    text-decoration: none;
    width: 60px;
    cursor: pointer;
}

#footer-page-left-arrow {
    background: url("/static/img/big_arrow.png") no-repeat center center;
    transform: rotate(270deg); -o-transform: rotate(270deg); -ms-transform: rotate(270deg); -moz-transform: rotate(270deg); -webkit-transform: rotate(270deg);
}

#footer-page-right-arrow {
    background: url("/static/img/big_arrow.png") no-repeat center center;
    transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg);
}

#footer-page-left-arrow.ui-disabled,
#footer-page-right-arrow.ui-disabled {
    pointer-events: none;
    cursor: default;
}


.ui-disabled {
    opacity: 0.5;
}

body.page-ui-disabled #footer-page-left-arrow,
body.page-ui-disabled #footer-page-right-arrow,
body.page-ui-disabled #footer-step
{
    opacity: 0.1;
    pointer-events: none;
    cursor: default;
}

/* PAGE 1 */
/*
#kiosk\.home #content {
    background: url("/static/kiosk/img/page-1-bg.jpg") 0 0 no-repeat;
}
*/

#kiosk\.home #header-next {
    visibility: visible;
}


/* PAGE 2 */
#kiosk\.select_color #header-prev {
    /* visibility: visible; */
}

/* Color list area */
#kiosk\.select_color #color_list {
    float: left;
    width: 345px;
    height: 100%;
    max-height: 100%;
    background-color: white;
    border-right: 15px solid #ccc;
}
#kiosk\.select_color #color_list-up {
    display: block;
    width: 200px;
    height: 50px;
    margin: 10px auto 0;
    background: url("/static/img/big_arrow.png") no-repeat center center;
    background-size: 50px;
}
#kiosk\.select_color #color_list-down {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: url("/static/img/big_arrow.png") no-repeat center center;
    transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg);
    background-size: 50px;
}
#kiosk\.select_color #color_list-items {
    display: block;
    list-style: none;
    padding: 0;
    margin: 10px auto;
    width: 300px;
    height: 335px;
    text-align: left;
    overflow: hidden;
}
#kiosk\.select_color .color_list-item {
}
#kiosk\.select_color .color_list-item>div{
    margin-left: 13px;
}
#kiosk\.select_color .color_list-item>div:first-child{
    margin-left: 20px;
}
#kiosk\.select_color .color-code {
    display: inline;
    font-size: 25px;
    position: relative;
    top: 4px;
}
#kiosk\.select_color .ueberscript {
    top: -5px; !important;
}
#kiosk\.select_color .color-description {
    font-size: 13px;
    position: relative;
    top: -14px;
    left: 89px;
    margin-bottom: -18px;
    text-align: left;
}
#kiosk\.select_color .color_list-item {
    cursor: pointer;
}
#kiosk\.select_color .color_list-item + .color_list-item {
    margin-top: 10px;
}

#kiosk\.select_color .color_list-placeholder {
    height: 57px;
}

/* Keyboard area */
#kiosk\.select_color #digit_color {
    float: left;
    background: #8D8D8C;
    height: 100%;
    max-height: 100%;
    width: 649px;
    border-left: 15px solid #ccc;
}

/* Input */

.input.wrapper,
#kiosk\.select_color #tty-wrapper {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.input>input,
#kiosk\.select_color #tty {
    border: 0;
    border-radius: 4px;
    display: inline-block;
    margin: 40px auto;
    font-size: 40px;
    text-align: center;
    padding-top: 3px;
}

.input .bt-clear,
#clear-button {
    background: transparent url("/static/kiosk/img/clear-disabled.png") no-repeat 0 0;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    line-height: 60px;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    text-decoration: none;
}

#clear-button.enabled {
    background-image: url("/static/kiosk/img/clear.png");
}

/* Keyboard */
#keyboard ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#keyboard li {
    display: inline-block;
    background-color: #DBDBDA;
    border-left: 0.1em solid gray;
    border-bottom: 0.1em solid gray;
    border-right: 0.1em solid gray;
    border-radius: 4px;
    font-size: 36px;
    margin: 2px 0;
    width: 1.25em;
    height: 1.25em;
    text-align: center;
}
#keyboard li:hover {
    cursor: pointer;
}
#keyboard li:active {
    background-color: gray !important;
}
.keyboard-spacebar {
    width: 8em !important;
}
.keyboard-command {
    width: auto !important;
    padding: 0 0.5em;
    background-color: #E41F25 !important;
    color: white;
    font-variant: small-caps;
}


/* PAGE 3 and 5 */

.confirmation-page {
    font-size: 22px;
}

    .confirmation-page a {
    text-decoration: none;
}

.confirmation-page h3 {
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
}

.confirmation-page #left-bar p,
.confirmation-page #right-bar p {
    text-transform: uppercase;
    margin: 5px;
}

.confirmation-page #left-bar {
    float: left;
    height: 100%;
    max-height: 100%;
    width: 345px;
    border-right: 15px solid #ccc;
    display: table;
    text-align: center;
    background-color: white;
}

.confirmation-page #left-bar > div,
.confirmation-page #right-bar > div {
    display: table-cell;
    vertical-align: middle;
}

.confirmation-page #button-no {
    display: inline-block;
    padding: 30px;
    color: #8D8D8C;
}

.confirmation-page #button-no p {
    max-width: 140px;
}

#dispensed .confirmation-page #button-no p {
    max-width: 170px;
}

.confirmation-page #right-bar {
    float: left;
    background: #8D8D8C;
    height: 100%;
    max-height: 100%;
    color: white;
    display: table;
    text-align: center;
    width: 649px;
    border-left: 15px solid #ccc;
}

.confirmation-page #button-yes {
    display: inline-block;
    padding: 30px;
    color: white;
}

.confirmation-page #button-yes p {
    max-width: 280px;
}

#color-box {
    border: 0 none;
    border-radius: 4px;
    display: block;
    text-align: center;
    background-color: white;
    color: #333;
    padding: 0 10px;
    max-width: 428px;
    width: 428px;
    margin: 0 auto;
    padding-top: 3px;
}

#color-box #color-code {
    font-size: 40px;
}

#color-description {
    font-size: 22px;
}

/* PAGE 4 */
#kiosk\.progress_bar #content {
    background: -webkit-linear-gradient(#000, #ddd);
    background: -o-linear-gradient(#000, #ddd);
    background: -moz-linear-gradient(#000, #ddd);
    background: linear-gradient(#000, #ddd);
}

#kiosk\.progress_bar #bucket {
    position: relative;
    /*
    top: 90px;
    left: 180px;
    */
    top: 0;
    left: 0;
}

#kiosk\.progress_bar #imgLevel,
#kiosk\.progress_bar #imgTopLevel {
    width: 290px;
    position: relative;
    opacity: 0.6;
    left: 420px;
    background-color: #fff;
}

#kiosk\.progress_bar #imgLevel {
    /*
        During level animation, always keep:
            #imgLevel { height = [0 ... 240]; }
            #imgLevel { top = 390 - height; }

        and also keep:

            #imgTopLevel { top = 380 - 2 * height; }
    */
    height: 0;
    top: 390px;
}

#kiosk\.progress_bar #imgTopLevel {
    background: #fff url(/static/kiosk/img/top_level.png) no-repeat 0 0;
    height: 10px;
    top: 380px;
}

#kiosk\.progress_bar #imgBucket {
    position: absolute;
    left: 180px;
    top: 113px;
}

#kiosk\.progress_bar #imgMask {
    position: absolute;
    left: 0px;
    top: 0px;
    float: left;
}

/*
#kiosk\.progress_bar #fill-color {
    background-color: #f00;
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    bottom: 140px;
    left: 320px;
    float: left;
}

#kiosk\.progress_bar img {
    float: left;
}

#progress {
    border: 1px solid red;
}
*/

#shutter {
    width: 100%;
    height: 100%;
    position:absolute;
    top:0px;
    left:0px;
    opacity: 0.8;
    background: #000;
    z-index:1000;
}

#shutter > img  {
    position : absolute;
    width    : 64px;
    height   : 64px;
    left     : 50%;
    top      : 50%;
    margin-left : -32px; /* half of the width  */
    margin-top  : -32px; /* half of the height */
}
