{% load i18n %}
<div id="tty-wrapper">
    <input id="tty" name="password" type="password" placeholder="{% trans "Enter password" %}">
</div>
<div id="keyboard">
<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li>0</li>
</ul>
<ul>
    <li>/</li>
    <li>Q</li>
    <li>W</li>
    <li>E</li>
    <li>R</li>
    <li>T</li>
    <li>Y</li>
    <li>U</li>
    <li>I</li>
    <li>O</li>
    <li>P</li>
</ul>
<ul>
    <li>A</li>
    <li>S</li>
    <li>D</li>
    <li>F</li>
    <li>G</li>
    <li>H</li>
    <li>J</li>
    <li>K</li>
    <li>L</li>
</ul>
<ul>
    <li>Z</li>
    <li>X</li>
    <li>C</li>
    <li>V</li>
    <li>B</li>
    <li>N</li>
    <li>M</li>
    <li>.</li>
    <li>-</li>
    <li>_</li>
</ul>
<ul>
    <li id="" class="keyboard-command" data-command="delete">{% trans "Del" %}</li>
    <li class="keyboard-spacebar">&nbsp;</li>
    <li id="passwd-confirm" class="keyboard-command ui-disabled" data-command="confirm">{% trans "Confirm" %}</li>
</ul>
</div>
