{% load i18n l10n static %}
<style>

/* Keyboard */
#keyboard {
    width: 260px;
    float: right;
    position: absolute;
    top: 80px;
    left: 20px;
    display: none;
}

#running-indicator {
    display: none;
    position: relative;
    top: 140px;

}

#start-button {
    position: relative;
    top: 184px;
    background-color: red;
    color: white;
    border-radius: initial;
    font-size: 28px;
    font-variant: small-caps;
    display: none;
}

#stop-button {
    position: relative;
    top: 184px;
    background-color: red;
    color: white;
    border-radius: initial;
    font-size: 28px;
    font-variant: small-caps;
    display: none;
}

#keyboard form {
    position: relative;
    left: -30px;
}

#keyboard form input[type=text] {
    position: relative;
    left: 58px;
    width: 300px;
    height: 35px;
    border-radius: 4px;
    margin-bottom: 4px;

    font-size: 37px;
    text-align: right;
}

#keyboard ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#keyboard li {
    display: inline-block;
    background-color: #DBDBDA;
    border-left: 0.1em solid gray;
    border-bottom: 0.1em solid gray;
    border-right: 0.1em solid gray;
    border-radius: 4px;
    font-size: 36px;
    margin: 2px 0;
    width: 1.65em;
    height: 1.25em;
    text-align: center;
    font-variant: small-caps;
}
#keyboard li:hover {
    cursor: pointer;
}
#keyboard li:active {
    background-color: gray !important;
}

.keyboard-command {
    font-size: 20px; !important;
    padding: 0 0.5em;
    background-color: #E41F25 !important;
    color: white;
    font-variant: small-caps;
}

#confirm {
    position: relative;
    top: -255px;
    left: 152px;
    height: 163px !important;
    padding-top: 86px;
    background-color: green !important;
}

#cancel {
    background-color: yellow !important;
    color: black;
}

#beaker-overlay {
    background: {{ rgb }};

    -webkit-border-radius: 20px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;

    -moz-border-radius: 20px;
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;

    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    border:black;
    border-width: thin;
    border-style: solid;

    float: left;
    position: relative;
    width: 220px;
    height: 400px;
    top: 30px;
    left: 100px;
}

.main-overlay {
    padding:5px;
    position: relative;
    width: 405px;
    height: 430px;
    top:  30px;
    left: 325px;
    margin-bottom: 11px;
}

.main-overlay h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-overlay h3 {
    position: absolute;
    text-align: center;
    line-height: initial;
    width: 415px;
}

.main-overlay-centered {
    width: 250px;
    margin: auto;
}

#levels > div {
    width: 500px;
}

#levels .volume-header {
    font-size: 20px;
    display: inline-block;
}

#levels .volume-numeric {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}

.main-overlay div {
    position: relative;
    text-align: right;
    right: 100px;
}

.actions-overlay {
    padding:5px;
    position: relative;
    width: 220px;
    height: 390px;
    top:  -390px;
    left: 730px;
}

input[type=button] {
    width: 160px;
    height: 46px;
    border-radius: 20px;
}

input[type=button]:active {
    background: whitesmoke;
}

.actions-overlay div {
    position: absolute;
    font-size: 36px;
}

.actions-overlay div img {
    width: 46px;
    height: 46px;
}

h1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: -8px !important;
}

.actions-overlay input[type=button] {
    background-repeat: no-repeat;
    background-position: 20px 12px;
    background-size: 20px;
    padding-left: 20px;
    vertical-align: middle;
    margin-bottom: 36px;
    border: thin;
    outline: none;

    font-variant: small-caps;
    font-size: 18px;
}

#refill-proceed {
    margin-top: 36px;
    background-image: url({% static 'diagnostics/img/refill.svg' %});
}

#purge-proceed {
    background-image: url({% static 'diagnostics/img/purge.svg' %});
    background-position-y: 8px;
}

#recirculation-proceed{
    background-image: url({% static 'diagnostics/img/recirculation.svg' %});
}

#stirring-proceed{
    background-image: url({% static 'diagnostics/img/stirring.svg' %});
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

</style>
{# The level beaker is otlined with CSS, drawn by D3 - see diagnostics.js, function goPageCircuit #}
<div id="beaker-overlay"></div>

<div class="main-overlay">
    <div id="levels">
        <div>
            <span class="volume-header">{% trans 'Current volume' %} [cc.]</span>
            <span id="current-volume" class="volume-numeric"></span>
        </div>
        <div>
            <span class="volume-header">{% trans 'Maximum volume' %} [cc.]</span>
            <span id="maximum-volume" class="volume-numeric"></span>
        </div>
        <div>
            <span class="volume-header">{% trans 'Reserve volume' %} [cc.]</span>
            <span id="reserve-volume" class="volume-numeric"></span>
        </div>
        <div>
            <span class="volume-header">{% trans 'Minimum volume' %} [cc.]</span>
            <span id="minimum-volume" class="volume-numeric"></span>
        </div>
    </div>

    <!-- a placeholder -->
    <div class="main-overlay-centered">
        <h3></h3>
    </div>

    <div id="keyboard">
        <form action="#" name="data-entry-form">
            <input id="keyboard-value" name="keyboard-value" type="text" />
        </form>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <br/>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <br/>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <br/>
            <li>-</li>
            <li>0</li>
            <li>.</li>
            <br/>
            <li id="clear" class="keyboard-command" data-command="clear">{% trans "C" %}</li>
            <li id="cancel" class="keyboard-command" data-command="cancel">{% trans "Esc" %}</li>
            <li id="confirm" class="keyboard-command" data-command="confirm">{% trans "Ok" %}</li>
        </ul>
    </div>

    <div id="control-buttons">
        <form>
            <input type="button" id='start-button' value="{% trans 'Start' %}" />
            <input type="button" id='stop-button' value="{% trans 'Stop' %}" />
        </form>
    </div>

    <div id="running-indicator">
        <img src="{% static 'diagnostics/img/running.gif' %}">
    </div>

</div>

<div class="actions-overlay">
    <form>
        <input type="button" id='refill-proceed' value="{% trans 'Refill' %}" />
        <input type="button" id='purge-proceed' value="{% trans 'Purge' %}" />
        <input type="button" id='recirculation-proceed' value="{% trans 'Recirculate' %}" />
        <input type="button" id='stirring-proceed' value="{% trans 'Stir' %}" />
    </form>
</div>
