/* navbar fixed top */

body {
  padding-top: 70px;
  background-color: #333333;
  color: white;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    /*color: #333;*/
    color: #fff;
}

.modal-dialog h1, .modal-dialog h2, .modal-dialog h3, .modal-dialog h4, .modal-dialog h5, .modal-dialog h6 {
    color: #333;
}

hr {
    margin: 5px;
}

/* django messages */

.messages {
    margin: 0;
    padding: 0;
}

.messages li {
    list-style: none;
}

.compact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    color: #2B2B2B;
}

.narrow-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    color: #2B2B2B;
}

.wide-form {
    color: #2B2B2B;
}

/*
 * Generic data table
 */

.datatable {
    border: 1px solid #502400;
    border-collapse: collapse;
    color: #fff;
    margin-bottom: 10px;
    font-family:"Verdana", sans-serif;
}

.datatable a {
    color: #333;
    text-decoration: underline;
}

.datatable th,
.datatable td {
    border: 1px solid #666;
    padding: 2px 6px;
    vertical-align: top;
}

.datatable th {
    background-color: #ccc;
    color: #000;
}

.datatable .numeric {
    text-align: right;
}
/*
 * Signin form
 */

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 10px;
}

/*
 * Footer
 */

footer {
    text-align: center;
    font-family: verdana;
    font-size: 12px;
    line-height: 16px;
    color: #999;
    margin-top: 0;
}

footer p {
    padding: 2px;
    margin: 0;
}

/*
 * content
 */

.content {
    min-height: 400px;
}

.content input,
.content option,
.content select,
.content textarea {
    color: #000;
}

.image-title {
    color: #333;
    font-size: 12px;
    text-align: center;
}

/*
#cycler { position:relative; }
#cycler img { position:absolute; z-index:1 }
#cycler img.active { z-index:3 }

#cycler { position:relative; }
#cycler img {
    position: absolute;
    z-index: 1;
    float: left;
}
#cycler img.active {
    float: left;
    z-index: 3;
}
*/

.image-cycler {
    position: relative;
}

.image-cycler img {
    position: absolute;
    z-index: 1;
}

.image-cycler img.active {
    position: absolute;
    z-index: 3;
}

/*
 *  Bootstrap 3 dropdown sub menu
 *  http://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing
 */

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}


.dropdown-submenu .menu-item a {
    margin-left: 20px;
}

.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}


/*
 * Lightbox
 */

.modal-footer {
    color: #333;
}


/*
 * Recipe page
 */

#page-title {
    font-size: 30px;
}

#browse-button {
    float: right;
}


.recipe-grid h2 {
    color: white;
    margin-left: 5px;
}

.recipe-grid .errorlist {
    color: white;
    font-weight: bold;
    background-color: #f33;
}

.recipe-grid .pigment-cell .errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    margin-top: -17px;
}

.recipe-grid .has-success .control-label {
    color: white;
}

.recipe-grid .pigment-cell {
    /*border: 1px solid #555;*/
    padding: 0px;
    margin: 5px;
    text-align: center;
}


.recipe-grid .pigment-cell .code {
    background-color: #555;
    /*border: 1px solid #666;*/
    border-radius: 5px 5px 0 0;
}


.recipe-grid .pigment-cell .tile {
    height: 60px;
    width: 100% !important;
    border-top: 0;
    border-bottom: 0;
}

.recipe-grid .pigment-cell label {
    display: none;
}

/*.recipe-grid .pigment-cell input[type="number"] {*/
.recipe-grid .pigment-cell input {
    border: 0px solid #666;
    text-align: right;
    /*width: 80px !important;*/
    width: 100% !important;
    font-size: 18px;
    line-height: 18px;
    border-radius: 0 0 5px 5px;
    /*padding: 0 0 2px 0;*/
    padding: 2px 4px;
    margin: 0;
}

.recipe-grid .pigment-cell.has_errors input {
    color: red;
}

.recipe-grid #id_package {
    width: 120px;
}

.recipe-grid textarea {
    width: 100%;
    height: 100px;
}

.recipe-grid .recipe-formset {
    margin: 0 5px;
}

.recipe-grid .form-actions {
    text-align: center;
}

/*
 * Recipes navigator
 */

#recipes-navigator-modal .modal-body {
    padding-bottom: 0;
}

#recipes-navigator-modal .modal-footer {
    margin-top: 0;
}

#recipes-navigator {
    color: #333;
}

#recipes-navigator .grid {
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    text-align: center;
}

#recipes-navigator .color-cell {
    text-align: center;
    padding: 10px;
    margin: 0;
}

#recipes-navigator .color-cell a {
    text-decoration: none;
}

#recipes-navigator .code {
    color: white;
    background-color: #555;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    font-size: 12px;
    height: 20px;
    padding: 1px;
}

#recipes-navigator .tile {
    height: 60px;
    border-radius: 0 0 4px 4px;
}

/*
 * Test unit page
 */

.test-unit-page .unit-widget {
    width: 150px;
}


table.recipe-components td {
    border: 1px solid #ccc;
    padding: 2px 8px;
}

