{% load i18n %}


<div class="content default">
</div>


<div class="footer default">
    <div>
        <img id="footer-logo" src="" width="220" draggable="false">
        <div>
            <a href="#" id="footer-page-left-arrow" ></a>
            <p id="footer-step" ></p>
            <p id="footer-error" ></p>
            <p id="footer-alarm" ></p>
            <a href="#" id="footer-page-right-arrow" ></a>
        </div>
    </div>
</div>


<div id="messages">
    <div class="footer-step default">
        {% trans "Choose a color from the color chart" %}
    </div>

    <div class="footer-error label-busy">
        {% trans "Collect the label to continue" %}
    </div>
</div>


<script>
    $('#footer-logo').attr('src', Pages.data.global.params.logo_url)
</script>
