{% load i18n static %}

<div class="content default">
    <progress id="progress" max="100" value="0" style="display: none;"></progress>
    <div id="bucket">
        <!-- div id="fill-color"></div -->
        <img id="imgBucket" src="{% static 'kiosk/img/bucket.png' %}">
        <div id="imgLevel"></div>
        <div id="imgTopLevel"></div>
        <img id="imgMask" src="{% static 'kiosk/img/mask.png' %}">
    </div>
</div>


<div id="messages">
    <div class="footer-step default">
        {% trans "Your sample will be ready" %}
        <br/>
        {% trans "in less than 1 minute" %}
    </div>

    <div class="footer-step completed">
        {% trans "Your sample is now ready" %}
        <br/>
        {% trans "Collect the label to finish" %}
    </div>
</div>


