{% load i18n %}

<div class="content default">
    <div id="color_list">
        <a id="color_list-up" href="#"></a>
        <ul id="color_list-items"></ul>
        <a id="color_list-down" href="#"></a>
    </div>
    <div id="digit_color">
        <div id="tty-wrapper">
            <input id="tty" placeholder="{% trans 'type color here' %}">
            <a href="" title="clear" id="clear-button">&nbsp;</a>
        </div>
        <div id="keyboard">
            {% if keyboard_layout == "qwerty" %}
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>0</li>
                </ul>
                <ul>
                    <li>/</li>
                    <li>Q</li>
                    <li>W</li>
                    <li>E</li>
                    <li>R</li>
                    <li>T</li>
                    <li>Y</li>
                    <li>U</li>
                    <li>I</li>
                    <li>O</li>
                    <li>P</li>
                </ul>
                <ul>
                    <li>A</li>
                    <li>S</li>
                    <li>D</li>
                    <li>F</li>
                    <li>G</li>
                    <li>H</li>
                    <li>J</li>
                    <li>K</li>
                    <li>L</li>
                </ul>
                <ul>
                    <li>Z</li>
                    <li>X</li>
                    <li>C</li>
                    <li>V</li>
                    <li>B</li>
                    <li>N</li>
                    <li>M</li>
                    <li>.</li>
                    <li>-</li>
                    <li>_</li>
                </ul>
                <ul>
                    <li class="keyboard-command" data-command="delete">{% trans "Del" %}</li>
                    <li class="keyboard-spacebar">&nbsp;</li>
                    <li class="keyboard-command ui-disabled" data-command="confirm">{% trans "Confirm" %}</li>
                </ul>
            {% elif keyboard_layout == "azerty" %}
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>0</li>
                </ul>
                <ul>
                    <li>A</li>
                    <li>Z</li>
                    <li>E</li>
                    <li>R</li>
                    <li>T</li>
                    <li>Y</li>
                    <li>U</li>
                    <li>I</li>
                    <li>O</li>
                    <li>P</li>
                </ul>
                <ul>
                    <li>Q</li>
                    <li>S</li>
                    <li>D</li>
                    <li>F</li>
                    <li>G</li>
                    <li>H</li>
                    <li>J</li>
                    <li>K</li>
                    <li>L</li>
                    <li>M</li>
                </ul>
                <ul>
                    <li>W</li>
                    <li>X</li>
                    <li>C</li>
                    <li>V</li>
                    <li>B</li>
                    <li>N</li>
                    <li>/</li>
                    <li>.</li>
                    <li>-</li>
                    <li>_</li>
                </ul>
                <ul>
                    <li class="keyboard-command" data-command="delete">{% trans "Del" %}</li>
                    <li class="keyboard-spacebar">&nbsp;</li>
                    <li class="keyboard-command ui-disabled" data-command="confirm">{% trans "Confirm" %}</li>
                </ul>
            {% endif %}
        </div>
    </div>
    <div id="triangle"></div>
</div>


<div id="messages">
    <div class="footer-step default">
        {% trans "Digit your color code" %}
        <br />
        {% trans " or select one from the list" %}
    </div>
</div>
